<div>
  <p>コメント数<%= book.book_comments.count %></p>
  <%= book.book_comments.each do |book_comment| %>
    <p><%= image_tag book_comment.user.get_profile_image(50,50) %></p>
    <%= book_comment.user.name %>
  <% end %>
</div>
<div>
  <%= form_with model: [book, book_comment] do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信" %>
  <% end %>
</div>