<div>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag current_user.get_profile_image %>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <td><%= current_user.introduction %></td>
            </tr>
          </tbody>
        </table>
        
        <div class="row">
          <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
            <span><i class="fas fa-user-gear"></i></span>
          <% end %>
        </div>
        
        <h2 class="mt-3">New book</h2>
        <%= form_with model: Book.new do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        <% end %>
      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <% if @book.present? %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %>
                <br>
                <%= link_to @book.user.name, user_path(@book.user) %>
              </td>
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>